.ipynb_checkpoints
.vscode
venv
.DS_Store
__pycache__/


!pipeline/inputs/example-polis.csv
!pipeline/inputs/example-videos.csv


!pipeline/configs/example-polis.json
!pipeline/configs/example-videos.json
